<h1>Proyectos realizados</h1>
<div class="d-flex flex-column flex-md-row gap-3">
  <div class="col-md-4">

    <div class="card">
      <%= image_tag('blog.jpg',class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Vlog LARAVEL</h5>
        <p class="card-text">proyecto laravel con VLOGS</p>
        <%= link_to "ver más...", root_path,class:"btn btnModify" %>
      </div>
    </div>

  </div>
  <div class="col-md-4">

  <div class="card">
    <%= image_tag('crudlaravel',class:"card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">CRUD LARAVEL</h5>
      <p class="card-text">PROYECTO CRUD LARAVEL</p>
      <%= link_to "ver más...", root_path , class:"btn btnModify" %>
    </div>
  </div>

  </div>

  <div class="col-md-4">

    <div>
      <%= image_tag('personal.jpg',class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Sitio web personal</h5>
        <p class="card-text">Sitio web personal con mis proyectos y habilidades tanto técnicas como blandas</p>
      
        <%= link_to "ver más...", "https://danieljimenezl.netlify.app/" ,class:"btn btnModify" %>
      </div>
    </div>

  </div>

</div>

